# Apps
yt-dlp
diagrams
speedtest-cli

# Helpers
Pygments
sty
ping3

# Dev Tools
icdiff
isort
black
pylint
poetry

# Things for the sitegen
html2text
Markdown
markdown-full-yaml-metadata
htmlmin
readtime
